.section.contactus {
  min-height: 100vh;
  background-color: #fff;
  background-image: none;
  background-size: auto;
  background-repeat: repeat;
  -webkit-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
}

.contactus-heading {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 125px;
  font-family: Merriweather, serif;
  color: #575757;
  font-size: 46px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: none;
}

.contact-us-form {
  padding: 20px;
  text-align: left;
}

.contactus-label {
  color: #575757;
  font-size: 18px;
  display: block;
  width: auto;
  margin-top: 20px;
}

.contactus-submit-btn {
  display: block;
  margin-top: 20px;
  padding: 15px;
  border: 2px solid #575757;
  border-radius: 7px;
  background-color: #575757;
  box-shadow: 0 1px 21px -21px rgba(0, 0, 0, .25);
  -webkit-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.contactus-submit-btn:hover {
  background-color: white;
  color: #575757;
}

.contact-us-inputs {
  height: 50px;
  padding-right: 0px;
  padding-left: 0px;
  border: 2px solid #575757;
  border-radius: 4px;
  font-size: 17px;
  line-height: 20px;
  text-align: left;
  text-indent: 10px;
  text-transform: none;
  width: 99%;
}

.contact-us-inputs.textarea {
  height: 150px;
}

.contactus-form-wrapper {
  display: flex;
  justify-content: center;
}

.contactus-columns {
  position: relative;
  display: block;
}

.contactus-columns.right {
  padding-right: 0px;
}

.contactus-columns.left {
  padding-left: 0px;
}

.w-row {
  column-width: 200px;
}

@media (max-width: 991px) {
  .nav-phone-number {
    font-size: 13px;
  }
  .phone-wrapper {
    margin-top: 61px;
  }
  .nav-menu {
    padding-top: 0px;
  }
  .nav-link {
    padding-right: 7px;
    padding-left: 7px;
    font-size: 18px;
  }
  .brand {
    padding-left: 15px;
  }
  .phone-icon {
    font-size: 14px;
  }
  .contact-us-form {
    width: 70%;
  }
  .contact-us-inputs {
    padding-right: 0px;
    padding-left: 0px;
  }
}

@media (max-width: 767px) {
  .nav-phone-number {
    margin-right: 10px;
    font-size: 16px;
  }
  .phone-wrapper {
    display: inline-block;
    margin-top: 23px;
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
  }
  .nav-menu {
    position: static;
    left: 0px;
    top: 0px;
    right: 0px;
    text-align: center;
    padding-bottom: 20px;
  }
  .nav-link {
    display: inline-block;
    margin-top: 15px;
    margin-left: 0px;
    padding-right: 25px;
    padding-left: 0px;
    font-size: 16px;
  }
  .brand {
    position: static;
    display: block;
    margin-right: 0px;
    margin-left: 0px;
    text-align: left;
  }
  .phone-icon {
    margin-right: 5px;
  }
  .contactus-heding {
    padding-top: 150px;
  }
  .contact-us-form {
    width: 50%;
  }
  .contactus-submit-btn {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .contactus-columns.right {
    padding-left: 0px;
  }
  .contactus-columns.left {
    padding-right: 0px;
  }
  .nav-container {
    display: block;
    text-align: left;
  }
  .nav-logo-image {
    width: 60px;
    margin-left: 0px;
  }
}

@media (max-width: 479px) {
  .nav-menu {
    padding-bottom: 20px;
    background-color: #fff;
    text-align: center;
  }
  .contactus-heding {
    padding-top: 90px;
    font-size: 39px;
  }
  .contact-us-form {
    width: 70%;
    margin-top: 20px;
  }
  .contactus-submit-btn {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .contactus-columns.left {
    padding-right: 0px;
  }
  .nav-menu-button {
    border-style: solid solid none;
    border-width: 2px;
    border-color: rgba(87, 87, 87, .25);
  }
}
