.nav-header {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  display: flex;
  margin-top: 0px;
  border-bottom: 1px solid rgba(87, 87, 87, .25);
  background-color: #fff;
  box-shadow: 0 0 25px 4px rgba(0, 0, 0, .25);
  margin: auto;
  direction: row;
}

.nav-container {
  margin: auto;
  display: inline-flex;
}

.nav-phone-number {
  color: #000;
  font-size: 18px;
  text-decoration: none;
}

.phone-wrapper {
  display: inline-block;
  margin-top: 60px;
  padding-top: 0px;
  padding-left: 30px;
  text-align: left;
}

.nav-menu {
  float: right;
  justify-content: center;
}

.nav-link {
  margin-top: 63px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: Merriweather, serif;
  font-size: 23px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  color: black;
}

.brand {
  padding-right: 60px;
}

.phone-icon {
  margin-right: 10px;
  margin-bottom: -6px;
}

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 10vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-right: 1px none #000;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: #242424;
  line-height: 10px;
}

.footer-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.copyright-text {
  padding: 10px 20px 10px 10px;
  border-style: solid none solid solid;
  border-width: 1px;
  border-color: #fff;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  background-color: transparent;
  color: #fff;
}

.ag-button {
  border-left: 1px none #000;
  -webkit-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
  background-color: #3893ec;
  color: white;
  padding: 10px;
}

.ag-button:hover {
  background-color: #747474;
}



@media (max-width: 991px) {
  .nav-phone-number {
    font-size: 13px;
  }
  .phone-wrapper {
    margin-top: 61px;
  }
  .nav-menu {
    padding-top: 0px;
  }
  .nav-link {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 14px;
  }
  .brand {
    padding-left: 15px;
  }
  .phone-icon {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .nav-phone-number {
    margin-right: 10px;
  }
  .phone-wrapper {
    display: inline-block;
    margin-top: 23px;
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
  }
  .nav-menu {
    position: static;
    left: 0px;
    top: 0px;
    right: 0px;
  }
  .nav-link {
    display: inline-block;
    margin-top: 25px;
    margin-left: 0px;
    padding-right: 25px;
    padding-left: 0px;
    font-size: 12px;
  }
  .brand {
    position: static;
    display: block;
    margin-right: 0px;
    margin-left: 0px;
    text-align: left;
  }
  .phone-icon {
    margin-right: 5px;
  }
   .nav-container {
    display: block;
    text-align: left;
  }
  .nav-logo-image {
    width: 60px;
    margin-left: 0px;
  }
}

@media (max-width: 479px) {
  .nav-menu {
    padding-bottom: 20px;
    background-color: #fff;
  }
   .nav-menu-button {
    border-style: solid solid none;
    border-width: 2px;
    border-color: rgba(87, 87, 87, .25);
  }
}